<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logobogorism"
        android:label="Bogorism"
        android:supportsRtl="true"
        android:theme="@style/Theme.Catering"
        tools:targetApi="31">
        <activity
            android:name=".main.DestinasiActivity_6"
            android:exported="false" />
        <activity
            android:name=".main.DestinasiActivity_5"
            android:exported="false" />
        <activity
            android:name=".main.DestinasiActivity_4"
            android:exported="false" />
        <activity
            android:name=".main.DestinasiActivity_3"
            android:exported="false" />
        <activity
            android:name=".main.DestinasiActivity_1"
            android:exported="false" />
        <activity
            android:name=".main.DestinasiActivity_2"
            android:exported="false" />
        <activity
            android:name=".register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".main.PreHomePage"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".main.SplashScreenPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCKrOu9QBp1TBj-h8OKRpfk29spkGuIp8g"/>

    </application>

</manifest>